@import url('https://fonts.googleapis.com/css2?family=Athiti&family=Pacifico&display=swap');

.button-secundary{
    height: 80%;
    width: 50%;
    border-radius: 20%;
    background-color: black;
    color:blanchedalmond;
    font-family: 'Pacifico',cursive;
    font-size: 125%;
    font-weight: 100;
    letter-spacing: 0.112rem;
}